/*BOT*/

/*$main-color-1: #2ecc71;
$main-color-2: #27ae60;
$second-color-1: #CC8914;
$background-color: #363636;*/

.bot {
    align-self: flex-end;
    display: flex;
    flex-grow: 0;
    flex-direction: row;
    justify-content: center;
}


.bot-talk {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow: hidden;
    white-space: nowrap;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.5rem;
    color: #444444;
    margin-top: 3rem
}

.bot-list{
    display: flex;
    flex-direction: column;
}

.type-bot {

    display: flex;
    border-radius: 7px;

}