
html {
    font-size: 16px;
    height: 100%;
}

body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    height: 100%;
}

.inline-roupa{
    height: 40vh;
    flex-grow: 1;
}

.inline{
    display: flex;
    flex-wrap: wrap;
}

main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.inicial{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    font-size: 2rem;
    
}

.principal{
    display: flex;
    flex-grow: 1; 
    flex-direction: column;
    justify-content: center;
    align-self: center;

}

.titulo{
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    justify-content: flex-start;
    align-self: center;
    margin-top: 3rem;
}


input[type=text] {
    -webkit-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
}

input[type=text]:focus {
    width: 80%;
}

input[type=button], input[type=reset], input[type=submit] {
    background-color: black;
    border: none;
    color: white;
    padding: 1.12rem 2.25rem;
    text-decoration: none;
    margin: 0.31rem 0.25rem;
    cursor: pointer;  
}

.search{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    flex-grow: 1; 
    width: 100%;
}

.search_2{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    flex-grow: 1; 
    width: 100%;
}