html {
    font-size: 16px;
    height: 100%;
    font-style: normal;
    font-family: "Times New Roman", Times, serif;
}

body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    height: 100%;
}

.inline-roupa{
    height: 40vh;
    flex-grow: 1;
}

.inline{
    display: flex;
    flex-wrap: wrap;
}

main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inicial{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    font-size: 2rem;
    
}

.principal{
    flex-wrap: wrap;
    height: 20vh;
    display: flex;
    flex-grow: 0;
    flex-direction: row;
    align-self: center;
    justify-content: space-between;
}

.titulo{
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    align-self: center;
    height: 50vh;; 
    justify-content: space-around;
    
}


input[type=text] {
    -webkit-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
}

input[type=text]:focus {
    width: 80%;
}

input[type=button], input[type=reset], input[type=submit] {
    background-color: black;
    border-radius: 7px;
    color: white;
    padding: 1.12rem 2.25rem;
    text-decoration: none;
    margin: 0.31rem 0.25rem;
    cursor: pointer;  
}

.search{
    font-size: 1.5rem;
}
